<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
<header id="header"></header>
<main>
    <aside>
        <p>Uno</p>
        <p><a href="mailto:dpflr715@gmail.com">dpflr715@gmail.com</a></p>
        <p>
            <time datetime="2022-01-01T00:00:00">2022-01-01</time>
        </p>
        <p>#java</p>
    </aside>

    <section>
        <p>본문<br><br></p>

        <div>
            <form>
                <label for="articleComment" hidden>댓글</label>
                <textarea id="articleComment" placeholder="댓글 쓰기.." rows="3"></textarea>
                <button type="submit">쓰기</button>
            </form>
        </div>
        <div>
            <ul>
                <li>
                    <div>
                        <time><small>2022-01-01</small></time>
                        <strong>Yuseon</strong>
                        <p>
                            abcdefg
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time><small>2022-01-02</small></time>
                        <stron>buriburi</stron>
                        <p>
                            부리부리부리부리
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <nav class="page-pagination" role="navigation">
            <a class="page-previous" href="/articles/GitKraken">이전글</a>
            <a class="page-next" href="/articles/abc">다음글</a>
        </nav>
    </section>


</main>
<footer id="footer"></footer>

</body>
</html>